/*==========CSS RESET=========*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/*==========OTHER=========*/
  * {
    box-sizing: border-box;
  }
  body {
    font-family: "Montserrat";
  }
/*==========HEADER=========*/
  header {
    width: 100%;
    height: 5rem;
    position: fixed;
  }
  .search-bar {
    width: 30%;
    float: left;
    padding: 1rem;
    border-bottom: 1px solid #F4F3F5;
    background-color: white;
    position: relative;
  }
  input[type=search] {
    background-color: #F4F3F5;
    border: none;
    padding: 1rem;
    width: 100%;
    font-weight: 600;
    opacity: 0.6;
  }
  input[type=search]:hover {
    background-color: rgb(220,220,220);
    transition: 0.1s ease-in-out;
  }
  .header {
    float: right;
    padding: 1rem;
    width: 70%;
    background-color: #6200EA;
    color: white;
    height: 5rem;
  }
  .header h2 {
    display: inline-block;
    font-weight: 600;
    font-size: 1.2rem;
    float: left;
    margin-top: 0.9rem;
    position: absolute;
  }
  .logo-text {
    display: inline-block;
    width: 11rem;
    margin-left: calc(50% - 8rem);
  }
  .logo-text img {
    width: 3rem;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
  }
  .logo-text h1 {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
    position: absolute;
    top: 1.85rem;
    margin-left: 0.5rem;
  }
  #avatar_7 {
    width: 3rem;
    border-radius: 50%;
    float: right;
  }
  .header h3 {
    float: right;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-size: 0.8rem;
    margin-top: 1.1rem;
    margin-right: 1rem;
  }
  .search-bar button {
    position: absolute;
    top: 1.9rem;
    right: 1.5rem;
    color: #00000029;
    font-size: 1.2rem;
    border: none;
    background: none;
    cursor: pointer;
  }
  .search-bar button:focus {
    outline: none;
  }
  .search-bar button:hover {
    color: rgb(150,150,150);
    transition: 0.1s ease-in-out;
  }
/*==========CONTACTS==========*/
  .contacts {
    width: 30%;
    height: calc(100vh - 5rem);
    background-color: white;
    float: left;
    position: fixed;
    top: 5rem;
  }
  .contacts a {
    text-decoration: none;
  }
  .contacts img {
    width: 3.5rem;
    border-radius: 50%;
    margin: 0.75rem 0.7rem;
  }
  .contacts h3 {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 600;
    font-size: 0.8rem;
    display: inline-block;
    color: #6200EA;
  }
  .contacts p {
    color: #211138;
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0.2rem;
  }
  .contact-1, .contact-2, .contact-3, .contact-4, .contact-5, .contact-6 {
    border-bottom: 1px solid #F4F3F5;
    border-left: 5px solid white;
  }
  .contact-1:hover, .contact-2:hover, .contact-3:hover, .contact-4:hover, .contact-5:hover, .contact-6:hover {
    background-color: rgba(240,240,240);
    border-left: 5px solid #F4F3F5;
    transition: 0.1s ease-in-out;
  }
  .contact-1-content, .contact-2-content, .contact-3-content, .contact-4-content, .contact-5-content, .contact-6-content {
    float: right;
    width: calc(100% - 5.4rem);
    margin-top: 1.5rem;
    margin-right: 0.5rem;
  }
  .contacts button {
    border: 2px solid #6200EA;
    color: #6200EA;
    background-color: white;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 700;
    font-family: "Montserrat";
    font-size: 0.7rem;
    padding: 0.7rem;
    border-radius: 50px;
    width: calc(100% - 2rem);
    margin: 1rem 1rem 1rem;
    cursor: pointer;
  }
  button:focused {
    outline: none;
  }
  .contacts button:hover {
    background-color: #6200EA;
    color: white;
    transition: 0.1s ease-in-out;
  }
  .current {
    border-left: 5px solid #6200EA !important;
  }
/*==========MESSAGES==========*/
  .content {
    width: 70%;
    float: right;
    padding: 3rem 3vw;
    background-color: #F4F3F5;
    margin-bottom: 8rem;
    margin-top: 3rem;
  }
  .content img {
    width: 3.5rem;
    border-radius: 50%;
  }
  .amy {
    background-color: white;
    padding: 1.5rem;
    max-width: 40%;
    margin: 0.5rem 4.5rem;
    border-radius: 20px;
    border-top-left-radius: 0;
    line-height: 1.1rem;
    font-size: 0.9rem;
  }
  .me {
    background-color: #B2ACBA;
    color: white;
    padding: 1.5rem;
    max-width: 40%;
    margin: 0.5rem 4.5rem;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    float: right;
    font-size: 0.9rem;
    line-height: 1.1rem;
  }
  .h4-amy {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    color: #B2ACBA;
    margin-left: 4.5rem;
    margin-top: 1rem;
  }
  .h4-me {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    color: #B2ACBA;
    text-align: right;
    margin-right: 4.5rem;
    margin-top: 1rem;
  }
  .img-amy {
    float: left;
    margin-top: 0.5rem;
  }
  .img-me {
    float: right;
    position: absolute;
    bottom: 1rem;
    right: 0;
    margin-bottom: -0.5rem;
  }
  .message-1, .message-2, .message-4 {
    position: relative;
    float: left;
  }
  .message-3, .message-5, .message-6 {
    position: relative;
    width: 100%;
    float: right;
  }
  .typing {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    color: #B2ACBA;
    float: left;
  }
/*==========TYPE MESSAGE==========*/
  .type-message {
    width: 70%;
    padding: 1rem;
    position: fixed;
    background-color: white;
    bottom: 0;
    right: 0;
    border-left: 1px solid #F4F3F5;
  }
  textarea {
    width: calc(100% - 5rem);
    height: 6rem;
    border: none;
    background-color: #F4F3F5;
    font-family: "Montserrat";
    padding: 1rem;
    color: #211138;
    font-weight: 600;
    font-size: 0.8rem;
    opacity: 0.6;
    resize: none;
  }
  textarea:hover {
    background-color: rgb(220,220,220);
    transition: 0.1s ease-in-out;
  }
  button[name="file"], button[name="emoji"] {
    border: none;
    background-color: #F4F3F5;
    color: #211138;
    font-size: 1.2rem;
    opacity: 0.4;
    cursor: pointer;
  }
  button[name="file"] {
    position: absolute;
    top: 1.6rem;
    right: 10.5rem;
  }
  button[name="emoji"] {
    position: absolute;
    top: 1.6rem;
    right: 7.5rem;
  }
  button[name="emoji"]:hover, button[name="file"]:hover {
    transition: 0.1s ease-in-out;
    opacity: 0.8;
  }
  button[name="send"]:hover {
    background-color: white;
    color: #6200EA;
    transition: 0.1s ease-in-out;
  }
  button[name="send"] {
    border: none;
    background-color: #6200EA;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    position: absolute;
    margin-left: 0.5rem;
    color: white;
    font-size: 1.1rem;
    padding-right: 0.6rem;
    border: 2px solid #6200EA;
  }
  button:focus, textarea:focus {
    outline: none;
  }
/*==========MEDIA QUERY==========*/
  @media screen and (min-width: 1600px) {
    .logo-text {
      margin-left: calc(50% - 5.5rem);
    }
    .search-bar {
      width: 20%;
    }
    .header {
      width: 80%;
    }
    .contacts {
      width: 20%;
    }
    .content {
      width: 80%;
    }
    .amy, .me {
      max-width: 60%;
    }
    .type-message {
      width: 80%;
    }
  }
